<div class="login">
  <%= render 'shared/flash' %>
  <div class="login-container">
    <div class="logo"><%= image_tag('loginlogo.png', alt: 'Logo', class: 'logo-img' ) %></div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <span><%= image_tag('user.png', alt: 'user', class: 'icon' ) %></span>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "username" %>
      </div>

      <div class="field">
        <span><%= image_tag('user.png', alt: 'user', class: 'icon' ) %></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
      </div>

      <div class="field">
        <span><%= image_tag('lock.png', alt: 'user', class: 'icon' ) %></span>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %>
      </div>

      <div class="field last">
        <span><%= image_tag('lock.png', alt: 'user', class: 'icon' ) %></span>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password" %>
      </div>

      <div class="actions">
        <%= f.submit "Signup" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
