<%= render 'shared/header', back: false %>
<%= render 'shared/flash' %>

<% if @recipes.empty? %>
    <h2>No Public Recipes found</h2>
<% else %>
    <h2>Public Recipes</h2>
    <ul class="recipes">
        <% @recipes.each do |recipe| %>
            <li>
                <div class="img">
                    <%= image_tag recipe.image %>
                </div>
                <p class="title"><%= recipe.name %></p>
                <div class="info">
                    <p>Total ingredients: <%= recipe.total_food_items %></p>
                    <p>$<%= recipe.total_price %></p>
                </div>
                <p class="username">By: <span><%= recipe.user.name %></span></p>
            </li>
        <% end %>
    </ul>
<% end %>
            
