<article class="recipe">
  <div>
    <div>
    <%= link_to recipe.name, recipe_path(recipe) %>
    </div>
    <div>
      <% if can? :detroy, recipe %>
        <%= link_to(t('common.remove'), recipe_path(recipe), data: {
          turbo_method: :delete,
          turbo_confirm: t('.confirm_delete')
        })%>
      <% end %>
    </div>
  </div>
  <div>
    <%= recipe.description %>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th><%= t('.name') %></th>
          <th><%= t('.quantity') %></th>
          <th><%= t('.price') %></th>
        </tr>
      </thead>
      <tbody>
        <% recipe.recipe_foods.each do |recipe_food| %>
          <tr>
            <td><%= recipe_food.food.name %></td>
            <td><%= recipe_food.quantity %></td>
            <td>$<%= recipe_food.food.price * recipe_food.quantity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</article>


