<li>
  <%= link_to recipe_path(recipe) do %>
      <div class="img">
          <%= image_tag recipe.image %>
      </div>
      <p class="title recipe-title"><%= recipe.name %></p>
      <div class="info recipe-info">
          <p class="info-time"> 
            <span>Prep Time:</span>
            <span>
              <%= image_tag('watch.svg', alt: 'stop watch', class: 'watch' ) %>
              <%= recipe.preparation_time %>
              min
            </span>
          </p>
          <p class="info-time">
            <span>Cook Time:</span>
            <span>
              <%= image_tag('watch.svg', alt: 'stop watch', class: 'watch' ) %>
              <%= recipe.cooking_time %>
              min
            </span>
          </p>
      </div>
  <% end %>
</li>

