<%= render 'shared/header' %>
<%= render 'shared/flash' %>

<h2> <%= t('.title') %> </h2>

<%= form_with model: @recipe do |form| %>
  <% @recipe.errors.full_messages.each do |error| %>
    <div><%= error %></div>
  <% end %>
  <div>
    <%= form.text_field :name, placeholder: "name" %>
  </div>

  <div>
    <%= form.number_field :preparation_time, placeholder: "perparation time", value: "" %>
  </div>

  <div>
    <%= form.number_field :cooking_time, placeholder: "cooking time", value: "" %>
  </div>

  <div>
    <%= form.text_area :description, placeholder: "description" %>
  </div>

  <div>
    <%= form.text_area :image, placeholder: "Image url (optional)" %>
  </div>

  <div>
    <%= form.check_box :public%>
    <%= form.label :public%>
  </div>

  <%= form.submit %>
<% end %>
