<%= render 'shared/header', back: true %>
<%= render 'shared/flash' %>
  <h2> <%= t('.title') %> </h2>
  <%= form_with model: @recipe do |form| %>
    <% @recipe.errors.full_messages.each do |error| %>
      <div><%= error %></div>
    <% end %>
    <div class="field">
      <%= form.text_field :name, placeholder: "name", required: true %>
    </div>

    <div class="field">
      <%= form.number_field :preparation_time, placeholder: "perparation time (mins)", value: "", required: true %>
    </div>

    <div class="field">
      <%= form.number_field :cooking_time, placeholder: "cooking time (mins)", value: "", required: true %>
    </div>

    <div class="field">
      <%= form.text_area :description, placeholder: "description", required: true %>
    </div>

    <div class="field">
      <%= form.text_area :image, placeholder: "Image url (optional)", value: "" %>
    </div>

    <div class="checkbox">
      <%= form.check_box :public%>
      <%= form.label :share_to_public?%>
    </div>

    <%= form.submit %>
  <% end %>
