<article>
  <h1><%= @recipe.name %></h1>

  <div>
    <div>
      <div>
        <span><%= t('.preparation_time') %></span>
        <span>
          <%= pluralize(@recipe.preparation_time, 'hour') %>
        </span>
      </div>

      <div>
        <span><%= t('.cooking_time') %></span>
        <span>
          <%= pluralize(@recipe.cooking_time, 'hour') %>
        </span>
      </div>

      <% if @recipe.show_description?(current_user) %>
        <div>
          <%= @recipe.description %>
        </div>
      <% end %>
    </div>

    <div>
      <% if @recipe.owner?(current_user) %>
        <label>
          <%= t('.public') %>
          <input type="checkbox">
        </label>
      <% end %>
    </div>
  <div>

  <div>
    <button>
      <%= t('.generate_shopping_list') %>
    </button>

    <% if @recipe.owner?(current_user) %>
      <button>
        <%= t('.add_ingredient') %>
      </button>
    <% end %>
  </div>
</article>