<%= render 'shared/header', back: true %>
<%= render 'shared/flash' %>

<h2><%= @recipe.name %></h2>

<div>
  <div class="padded">
    <div>
      <span class="bold"><%= t('.preparation_time') %></span>
      <span>
        <%= pluralize(@recipe.preparation_time, 'hour') %>
      </span>
    </div>

    <div>
      <span class="bold"><%= t('.cooking_time') %></span>
      <span>
        <%= pluralize(@recipe.cooking_time, 'hour') %>
      </span>
    </div>

    <% if @recipe.show_description?(current_user) %>
      <div class="padded">
        <%= @recipe.description %>
      </div>
    <% end %>
  </div>

  <div>
    <% if @recipe.owner?(current_user) %>
      <%= form_with model: @recipe do |form| %>
        <% @recipe.errors.full_messages.each do |error| %>
          <div><%= error %></div>
        <% end %>

        <div>
          <%= form.label :public %>
          <%= form.check_box :public, onchange: 'this.form.submit();' %>
        </div>
      <% end %>
    <% end %>
  </div>
<div>

<div class="button-container">
  <%= link_to t('.generate_shopping_list'), shopping_lists_path, class: 'btn-link' %>

  <% if @recipe.owner?(current_user) %>
    <%= link_to t('.add_ingredient'), new_recipe_recipe_food_path(@recipe), class: 'btn-link' %>
  <% end %>
</div>

  <div>
  <table>
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.quantity') %></th>
        <th><%= t('.price') %></th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.recipe_foods.each do |recipe_food| %>
        <tr>
          <td><%= recipe_food.food.name %></td>
          <td><%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %> </td>
          <td>$<%= recipe_food.food.price * recipe_food.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>