<article>
  <h1><%= @recipe.name %></h1>

  <div>
    <div>
      <div>
        <span><%= t('.preparation_time') %></span>
        <span>
          <%= pluralize(@recipe.preparation_time, 'hour') %>
        </span>
      </div>

      <div>
        <span><%= t('.cooking_time') %></span>
        <span>
          <%= pluralize(@recipe.cooking_time, 'hour') %>
        </span>
      </div>

      <% if @recipe.show_description?(current_user) %>
        <div>
          <%= @recipe.description %>
        </div>
      <% end %>
    </div>

    <div>
      <% if @recipe.owner?(current_user) %>
        <%= form_with model: @recipe do |form| %>
          <% @recipe.errors.full_messages.each do |error| %>
            <div><%= error %></div>
          <% end %>

          <div>
            <%= form.label :public %>
            <%= form.check_box :public, onchange: 'this.form.submit();' %>
          </div>
        <% end %>
      <% end %>
    </div>
  <div>

  <div>
    <button>
      <%= t('.generate_shopping_list') %>
    </button>

    <% if @recipe.owner?(current_user) %>
      <button>
        <%= t('.add_ingredient') %>
      </button>
    <% end %>
  </div>
</article>