<header>
  <h1><%= t('appTitle') %></h1>
  <nav>
    <ul class="link">
      <% if !current_user %>
        <li><%= link_to t('.login'), new_user_session_path %></li>
        <li><%= link_to t('.signup'), new_user_registration_path %></li>
      <% else %>
        <li><%= link_to "#{t('.logout')} (#{current_user.name})", destroy_user_session_path, data: {
          turbo_method: :delete
        } %></li>
      <% end %>
      
      <li><%= link_to t('.public_recipes'), public_recipes_path %></li>
      <li><%= link_to t('.my_recipes'), recipes_path %></li>
      <li><%= link_to t('.my_foods'), foods_path %></li>
      <li><%= link_to t('.shopping_list'), shopping_lists_path %></li>
    </ul>
    <div class="hamburger" onclick="menuToggle();">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </nav>
</header>

<script>
const hamburger = document.querySelector('.hamburger');
const mobileMenu = document.querySelector('.link');
const menuToggle = () => {
  hamburger.classList.toggle('open');
  mobileMenu.classList.toggle('height');
};
</script>