<header>
  <% if back %>
    <button class="back"><%= image_tag('left-arrow.png', alt: 'left arrow', class: 'back-icon' ) %></button>
  <% else %>
    <h1><%= t('appTitle') %></h1>
  <% end %>
  <nav>
    <ul class="nav-link">
      <li><%= link_to t('.public_recipes'), public_recipes_path %></li>
      <li><%= link_to t('.my_recipes'), recipes_path %></li>
      <li><%= link_to t('.my_foods'), foods_path %></li>
      <li><%= link_to t('.shopping_list'), shopping_lists_path %></li>

      <% if current_user %>
        <li><%= link_to "Logout (#{current_user.name})", destroy_user_session_path, data: {
          turbo_method: :delete, class: 'logout'
        } %></li>
      <% end %>
    </ul>
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </nav>
</header>
