<h2>Add Foods</h2>

<%= form_with model: @food, url: foods_path, scope: :food do |f| %>
    <div>
        <%= f.label :name, "Name:" %>
        <%= f.text_field :name, required: true %>
    </div>
    <div>
        <%= f.label :measurement_unit, "Measurement Unit:" %>
        <%= f.text_field :measurement_unit, required: true %>
    </div>
    <div>
        <%= f.label :price, "Price:" %>
        <%= f.number_field :price, required: true %>
    </div>

    <div>
        <%= f.label :quantity, "Quantity:" %>
        <%= f.number_field :quantity, required: true %>
    </div>

    <div>
        <%= f.submit "Add food" %>
    </div>
<% end %>
