<%= render 'shared/header', back: false %>
<%= render 'shared/flash' %>

<h2>Shopping List</h2>
<ul class="shoppingList">
    <li>
        <p>Amount of food items to buy: <%= @items_to_buy %></p>
        <p>Total value of food needed: $<%= @needed_money %></p>
    </li>

    <li>
        <div class="bold">Product</div>
        <div class="bold">To buy</div>
        <div class="bold">Total price</div>
    </li>
    <% @foods.each do |food| %>
        <% if food.to_buy.positive? %>
            <li>
                <div><%= food.name %></div>
                <div><%= food.to_buy %><%= food.measurement_unit %></div>
                <div>$<%= food.to_buy * food.price %></div>
            </li>
        <% end %>
    <% end %>
</ul>
